
body {
    background: #49aca0;
    background: -webkit-linear-gradient(to right, #2a3744, #402d3e);
    background: linear-gradient(to right, #372d3b, #212e31);
    min-height: 100vh;
}
 
.btn-primary {
    background: linear-gradient(to right, #372d3b, #212e31);
    border-color: #372d3b;
}
.btn-danger {
    background: linear-gradient(to right, #b53156, #5b0682);
    border-color: #b53156;
}
.text-gray {
    color: #aaa;
}